/* -------------------------- Dialog -------------------------- */

.dialog{
    @extend .overlay;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 1001;
    padding: .75rem;
    transition: left .3s ease-in-out;

    &.open{
        left: 0 !important;
    }

    h2{
        text-align: center;
        margin-top: 1rem;
    }

    .close-dialog{
        position: absolute;
        left: .75rem;
    }

    &#settings-dialog{
        left: 100%;
        will-change: left;
    }

    &#add-dialog{
        left: -100%;
        will-change: left;    
    }
}

/* -------------------------- Form & Input -------------------------- */

form{
    position: relative;
    
    input{
        display: block;
        width: 100%;
        padding: .5rem 0;
        background: none;
        color: #fff;
        border: none;
        border-bottom: 2px solid rgba(#fff, .6);
        border-radius: 0;
        outline: none;
        font-size: 2rem;
        transition: border-bottom .2s ease-in-out;

        &:invalid{
            border-bottom: 2px solid var(--red);
        }

        &::placeholder{
            color: #fff;
            opacity: .4;
        }

        &:focus{
            border-color: $blue;
        }

        // Fix for webkit autofill styling
        &:-webkit-autofill,
        &:-webkit-autofill:hover, 
        &:-webkit-autofill:focus {
            -webkit-text-fill-color: #fff;
            -webkit-box-shadow: 0 0 0 5rem #05051A inset;
        }

        &[type="search"]{
            appearance: textfield;
            -webkit-appearance: textfield;

            // Fix to hide webkit extras on input search
            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                display: none;
            }
        }
    }

    button[type="submit"]{
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* -------------------------- Locations -------------------------- */

ul#location-list,
ul#location-search-reults{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 1rem;

    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.25rem;
        padding: 0 0 0 1rem;

        &.drop-zone{
            padding: 1rem;
            border: 2px dotted rgba(#fff, .2);
        }
    }
}