.toast{
    @extend .overlay;
    width: calc(min(640px, 100%) - 2.5rem);
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 600;
    will-change: transform;
    animation-name: toast;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;

    &.warning{
        border: 1px solid rgba($yellow, .4);
    }

    &.error{
        border: 1px solid rgba($red, .4);
    }

    dl{
        justify-content: space-between;
    }
}

@keyframes toast {
    0%{
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
    }

    10%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    90%{
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }

    100%{
        opacity: 0;
        transform: translateY(100%) translateX(-50%);
    }
}