/* -------------------------- Base -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #05051A;
    background-attachment: fixed;
    background-size: contain;
    --yellow: #FFCC00;
    --red: #E7324C;
    --blue: #3CABF8;
    --wind-direction: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: #fff;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    min-height: 100vh;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #fff;
    position: relative;
    letter-spacing: .02rem;
    padding: .5rem 0 calc(4.5rem + env(safe-area-inset-bottom, 0)) 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1rem;
    line-height: 0;
}

*[draggable=true]{
    cursor: grab;

    &:active{
        cursor: grabbing;
    }
}

/* -------------------------- Typo -------------------------- */

h2{
    margin: 2.5rem 0 .75rem 0;
    display: block;
    width: 100%;
}

h3 {
    font-weight: 600;
}

a {
    color: #fff;
}

ul {
    list-style: none;
}

dl{
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1.125rem;

    dt{
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    dd{
        opacity: .8;
        font-weight: 300;
    }
}

.text-red{
    color: var(--red);
}

/* -------------------------- Helpers -------------------------- */

.card {
    border-radius: .5rem;
    background-color: #121226;
    padding: 1rem;
}

.toast{
    width: calc(100vw - 3rem);
    position: fixed;
    bottom: 1rem;
    z-index: 999999;
    background-color: rgba(#000, .95);
    padding: 1.25rem;
    margin: 0 1.5rem;
    animation-name: toast;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;

    &.warning{
        border: 1px solid var(--yellow);
    }

    &.error{
        border: 1px solid var(--red);
    }

    dl{
        justify-content: space-between;
    }
}

@keyframes toast {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }

    10%{
        opacity: 1;
        transform: translateY(0);
    }

    90%{
        opacity: 1;
        transform: translateY(0);
    }

    100%{
        opacity: 0;
        transform: translateY(100%);
    }
}

/* -------------------------- Dialog -------------------------- */

.dialog{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    background-color: rgba(#05051A, .8);
    position: fixed;
    top: 0;
    z-index: 999999;
    padding: 0 .75rem;
    transition: left .3s ease-in-out;
    backdrop-filter: blur(8px);

    &.open{
        left: 0 !important;
    }

    h2{
        text-align: center;
        margin-top: 1rem;
    }

    #close-dialog{
        position: absolute;
        left: .75rem;
    }

    &#settings-dialog{
        left: 100%;
        will-change: left;
    }

    &#add-dialog{
        left: -100%;
        will-change: left;    
    }
}

/* -------------------------- Form & Input -------------------------- */

form{
    position: relative;
    
    input{
        display: block;
        width: 100%;
        padding: .5rem 0;
        background: none;
        color: #fff;
        border: none;
        border-bottom: 2px solid rgba(#fff, .6);
        border-radius: 0;
        outline: none;
        font-size: 2rem;
        transition: border-bottom .2s ease-in-out;

        &:invalid{
            border-bottom: 2px solid var(--red);
        }
    }

    button[type="submit"]{
        position: absolute;
        top: 0;
        right: 0;
    }
}

/* -------------------------- Locations -------------------------- */

ul#location-list,
ul#location-search-reults{
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 1rem;

    li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.25rem;
        padding: 0 0 0 1rem;

        &.drop-zone{
            padding: 1rem;
            border: 2px dotted rgba(#fff, .2);
        }
    }
}

/* -------------------------- Header -------------------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: env(safe-area-inset-top, 0) .75rem .75rem;

    button{
        position: relative;
        z-index: 99;
    }
}

/* -------------------------- Main -------------------------- */

main {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: -6rem;

    &:empty::before  {
        content: "No weather data. Add locations or try again later.";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
        width: 80%;
    } 

    &::-webkit-scrollbar {
        display: none;
    }

    article{
        width: 100vw;
        position: relative;

        header{
            padding: 0;
            margin-bottom: 5rem;
        }

        section {
            scroll-snap-align: center;
            scroll-snap-stop: always;
    
            &:last-of-type {
                margin-bottom: 0;
            }
    
            h2 {
                margin-bottom: .75rem;
            }
        }
    }
}

/* -------------------------- Footer -------------------------- */

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: env(safe-area-inset-bottom, 0);
    padding: 1rem 0;
}

/* -------------------------- Current location -------------------------- */

.weather-location{
    width: 100%;
    text-align: center;
    padding-top: 2.75rem;
    line-height: 1;
    margin: 0;
}

/* -------------------------- Weather Alerts -------------------------- */

.weather-alert{
    font-weight: 500;
    margin: -3rem 0 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;

    p.alert-value{
        text-transform: capitalize;
    }
}

/* -------------------------- Current Weather -------------------------- */

.current-weather {
    padding: 0 .75rem;

    .current-weather-video{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        video{
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 1;
        }

        &::after{
            content: "";
            display: block;
            background-image: linear-gradient(rgba(#05051A,1) 0%, rgba(#05051A,0.1) 50%, rgba(#05051A,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &::before{
            content: "";
            display: block;
            background-image: linear-gradient(90deg, rgba(#05051A,1) 0%, rgba(#05051A,0.1) 50%, rgba(#05051A,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    .current-temperature {
        background-image: radial-gradient(closest-side, rgba(255, 255, 255, .05), rgba(255, 255, 255, 0));
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 0 5rem;

        .current-weather-icon {
            width: 33%;
            display: block;
            margin: 0 auto;
        }
    }

    .current-temperature-value {
        text-align: center;
        font-size: 5rem;
        margin: 0;

        &::after {
            content: "째";
            vertical-align: top;
            font-size: 80%;
            font-weight: 400;
        }
    }

    .current-weather-data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "sun sun sun"
            "wind-direction wind-speed pressure"
            "humidity pop uvi";
        grid-gap: .75rem;
        perspective: 4000px;

        div:not(.sun-moon) {
            display: grid;
            place-content: center;
        }

        img,
        svg {
            display: block;
            margin: 0 auto;
            margin-bottom: .5rem;
        }

        p {
            text-align: center;
        }
    }

    .sun-moon{
        height: 100%;
        margin-bottom: -25%;
        grid-area: sun;
        transform-style: preserve-3d;
        transition: transform .3s ease-out;

        &.flipped{
            transform: rotateX(180deg);
        }
    }

    .current-sun,
    .current-moon {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: .75rem;
        padding: 1rem 0;
        backface-visibility: hidden;

        .current-sunposition,
        .current-moonposition {
            position: relative;
            height: .25rem;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, .2);

            .current-sunposition-progress,
            .current-moonposition-progress{
                position: absolute;
                height: 100%;
                background-color: #fff;
                border-radius: 8px;
            }

            .current-sunposition-indicator,
            .current-moonposition-indicator{
                margin: 0;
                position: absolute;
                transform: translate(-50%, -10px);
                box-shadow: inset 0 0 1rem 1rem #121226;
                border-radius: 50%;
            }
        }
    }

    .current-moon{
        transform: rotateX(-180deg);
        transform-origin: top;
    }

    .current-wind-direction svg#compass #needle {
        transform-origin: center;
    }

    .current-wind-speed-value::after {
        content: " km/h";
    }

    .current-pressure-value::after {
        content: " hPa";
    }

    .current-humidity-value::after {
        content: " %";
    }

    .current-pop-value::after {
        content: " %";
    }
}

/* -------------------------- Hourly weather -------------------------- */

.hourly-weather{
    h2{
        padding: 0 .75rem;
    }

    .hourly-weather-list {
        display: flex;
        gap: .75rem;
        overflow-x: scroll;
        scroll-padding: 0 -.75re;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 0 .75rem;
        
        &::-webkit-scrollbar {
            display: none;
        }
    
        .hourly-weather-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 20%;
    
            &:first-of-type{
                display: none;
            }
    
            .hourly-temperature {
                margin: 1rem 0 .5rem 0;
    
                &::after {
                    content: '째';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
    
            .hourly-timestamp {
                opacity: .6;
                letter-spacing: 1px;
            }
        }
    }
}

/* -------------------------- Daily weather -------------------------- */

.daily-weather{
    padding: 0 .75rem;

    .daily-weather-list{
        display: flex;
        flex-direction: column;
        gap: .75rem;
    
        .daily-weather-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            &:first-of-type{
                display: none;
            }
        
            div {
                display: flex;
            }
        
            .daily-date {
                opacity: .6;
            }
        
            .daily-temperature {
                font-size: 2.5rem;
                line-height: 1;
                margin: 0 .125rem 0 .75rem;
                font-weight: 600;
        
                &::after {
                    content: '째';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
        
            .daily-temperature-max,
            .daily-temperature-min {
                opacity: .6;
                display: flex;
                justify-content: flex-end;
        
                &::after {
                    content: '째';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
        
            &+.daily-weather {
                margin-top: .75rem;
            }
        
            ul {

                li {
                    display: flex;
                    align-items: center;
        
                    img {
                        margin-right: .125rem;
                        opacity: .6;
                    }
        
                    .daily-pop,
                    .daily-wind {
                        opacity: .6;
                    }
                }
            }
        }
    }
}

