$yellow: #FFCC00;
$red: #E7324C;
$blue: #3CABF8;

@use '../node_modules/leaflet/dist/leaflet.css';
@import './styles/base', './styles/dialog', './styles/toast', './styles/pwa-popup';

/* -------------------------- Layout -------------------------- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .75rem;
    margin-top: env(safe-area-inset-top, 0);
    min-height: 5rem;

    button{
        position: relative;
        z-index: 9;
    }
}

main {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    place-items: center;
    align-items: start;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: -3.5rem;

    &:empty::before  {
        content: "No weather data. Add locations or try again later.";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: block;
        width: 80%;
    } 

    &::-webkit-scrollbar {
        display: none;
    }

    article{
        position: relative;
        width: 100%;
        max-width: 640px;
        scroll-snap-align: center;
        scroll-snap-stop: always;

        header{
            flex-direction: column;
            gap: .5rem;
            justify-content: start;

            .current-time{
                opacity: .8;
            }
        }

        section {
            scroll-snap-align: center;
            scroll-snap-stop: always;
    
            &:last-of-type {
                margin-bottom: 0;
            }
    
            h2 {
                margin-bottom: .75rem;
            }
        }
    }
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: env(safe-area-inset-bottom, 0);
}

/* -------------------------- Current location -------------------------- */

.weather-location{
    text-align: center;
    line-height: 1;
    margin: 0;
}

/* -------------------------- Weather Alerts -------------------------- */

.weather-alert{
    font-weight: 500;
    margin: -3rem 0 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75rem;

    p.alert-value::first-letter{
        text-transform: uppercase;
    }
}

/* -------------------------- Current Weather -------------------------- */

.current-weather {
    padding: 0 .75rem;

    .current-weather-video{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        video{
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 1;
        }

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image:
                linear-gradient(rgba(#05051A,1) 5%, rgba(#05051A,0) 50%, rgba(#05051A,1) 95%),
                linear-gradient(90deg, rgba(#05051A,1) 5%, rgba(#05051A,0) 50%, rgba(#05051A,1) 95%),
                radial-gradient(rgba(#05051A,0) 0%, rgba(#05051A,1) 100%);
        }
    }

    .current-temperature {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
        padding: 4rem;

        .current-weather-icon {
            display: block;
            margin: 0 auto;
        }
    }

    .current-temperature-value {
        text-align: center;
        font-size: 5rem;
        margin: 0;

        &::after {
            content: "°";
            vertical-align: top;
            font-size: 80%;
            font-weight: 400;
        }
    }

    .current-weather-data {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "sun sun sun"
            "wind-direction wind-speed pressure"
            "humidity pop uvi";
        grid-gap: .75rem;
        perspective: 4000px;

        div:not(.sun-moon) {
            display: grid;
            place-content: center;
        }

        img,
        svg {
            display: block;
            margin: 0 auto;
            margin-bottom: .5rem;
        }

        p {
            text-align: center;
        }
    }

    .sun-moon{
        height: 100%;
        margin-bottom: -25%;
        grid-area: sun;
        transform-style: preserve-3d;
        transition: transform .3s ease-out;

        &.flipped{
            transform: rotateX(180deg);
        }
    }

    .current-sun,
    .current-moon {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        grid-gap: .75rem;
        padding: 1rem 0;
        backface-visibility: hidden;

        .current-sunposition,
        .current-moonposition {
            position: relative;
            height: .25rem;
            border-radius: 1rem;
            background-color: rgba(255, 255, 255, .2);

            .current-sunposition-progress,
            .current-moonposition-progress{
                position: absolute;
                height: 100%;
                background-color: #fff;
                border-radius: 8px;
            }

            .current-sunposition-indicator,
            .current-moonposition-indicator{
                margin: 0;
                position: absolute;
                transform: translate(-50%, -10px);
                box-shadow: inset 0 0 1rem 1rem #121226;
                border-radius: 50%;
            }
        }
    }

    .current-moon{
        transform: rotateX(-180deg);
        transform-origin: top;
    }

    .current-wind-direction svg#compass #needle {
        transform-origin: center;
    }

    .current-wind-speed-value::after {
        content: " km/h";
    }

    .current-pressure-value::after {
        content: " hPa";
    }

    .current-humidity-value::after {
        content: " %";
    }

    .current-pop-value::after {
        content: " %";
    }

    .map{
        @extend .card;
        height: 240px;
        padding: 0;
        margin-top: .75rem;
        position: relative;

        &:empty{
            display: none;
        }

        .leaflet-layer.esri-layer{
            filter: contrast(2) brightness(125%) saturate(4);
        }

        .leaflet-layer.owm-layer{
            filter: saturate(80) hue-rotate(-30deg);
            mix-blend-mode: plus-lighter;
        }
    }
}
 
/* -------------------------- Hourly weather -------------------------- */

.hourly-weather{
    h2{
        padding: 0 .75rem;
    }

    .hourly-weather-list {
        display: flex;
        gap: .75rem;
        overflow-x: scroll;
        scroll-padding: 0 -.75re;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 0 .75rem;
        
        &::-webkit-scrollbar {
            display: none;
        }
    
        .hourly-weather-item {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &:first-of-type{
                display: none;
            }
    
            .hourly-temperature {
                margin: 1rem 0 .5rem 0;
    
                &::after {
                    content: '°';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
    
            .hourly-timestamp {
                opacity: .6;
                letter-spacing: 1px;
            }
        }
    }
}

/* -------------------------- Daily weather -------------------------- */

.daily-weather{
    padding: 0 .75rem;

    .daily-weather-list{
        display: flex;
        flex-direction: column;
        gap: .75rem;
    
        .daily-weather-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            &:first-of-type{
                display: none;
            }
        
            div {
                display: flex;
            }
        
            .daily-date {
                opacity: .6;
            }
        
            .daily-temperature {
                font-size: 2.5rem;
                line-height: 1;
                margin: 0 .125rem 0 .75rem;
                font-weight: 600;
        
                &::after {
                    content: '°';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
        
            .daily-temperature-max,
            .daily-temperature-min {
                opacity: .6;
                display: flex;
                justify-content: flex-end;
        
                &::after {
                    content: '°';
                    font-size: 80%;
                    vertical-align: top;
                }
            }
        
            &+.daily-weather {
                margin-top: .75rem;
            }
        
            ul {

                li {
                    display: flex;
                    align-items: center;
        
                    img {
                        margin-right: .125rem;
                        opacity: .6;
                    }
        
                    .daily-pop,
                    .daily-wind {
                        opacity: .6;
                    }
                }
            }
        }
    }
}
